<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="~{template :: head}"></div>
    <title>Animal Tracker - Import Data</title>
</head>
<body>
    <div th:replace="~{template :: header}"></div>

    <h1>Import Data</h1>

    <form th:action="@{/import}" method="post" enctype="multipart/form-data">
        <div><label>
            Projects Data:
            <input type="file" accept=".csv" name="projects">
        </label></div>
        <div><label>
            Sightings Data:
            <input type="file" accept=".csv" name="sightings">
        </label></div>
        <input type="submit" value="Import Data"/>
    </form>
</body>
</html>