<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="~{template :: head}"></div>
    <title>Animal Tracker - Login</title>
</head>
<body>
    <div th:replace="~{template :: header}"></div>

    <div class="container">
        <h1>Sign In</h1>

        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <div th:if="${param.registered}">
            Your account has been created. You may now login.
        </div>
        <form th:action="@{/login}" method="post">
            <div class="my-3">
                <label class="form=label" for="username">Username:</label>
                <input class="form-control" type="text" name="username" id="username"/>
            </div>
            <div class="my-3">
                <label class="form=label" for="password">Password:</label>
                <input class="form-control" type="password" name="password" id="password"/>
            </div>
            <div><input type="submit" value="Sign In" class="btn btn-primary"/></div>
        </form>
    </div>
</body>
</html>
