<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="~{template :: head}"></div>
    <title th:text="${project.name}"></title>
</head>
<body>
    <div th:replace="~{template :: header}"></div>
    <div class="container">
        <div class="alert alert-warning alert-primary d-flex align-items-center" th:if="${project.currentlyClosed}">
            <img src="/images/warning.svg" alt="Warning" width="24" height="24">
            This project is closed
        </div>

        <div class="d-flex justify-content-end gap-3 mb-3">
            <a class="btn btn-secondary" th:unless="${project.currentlyClosed}" th:href="@{/projects/{projectId}/sightings/new(projectId=${project.id})}">
                Submit a sighting
            </a>
            <button th:if="${project.isOwner && !project.isCurrentlyClosed}" type="button" class="btn btn-danger"
                    data-bs-toggle="modal" data-bs-target="#closeProjectModal">
                Close Project
            </button>
        </div>

        <div class="p-5 text-center bg-body-tertiary">
            <h1 th:text="${project.name}" class="mb-3">Heading</h1>
            <h4 th:text="${project.description}" class="mb-3">Subheading</h4>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Common Name</th>
                    <th scope="col">Scientific Name</th>
                    <th scope="col">Submitted By</th>
                    <th scope="col">Timestamp</th>
                    <th scope="col">Location</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="sighting : ${projectSightings}">
                    <td th:text="${sighting.commonName}"></td>
                    <td th:text="${sighting.scientificName}"></td>
                    <td th:text="${sighting.displayName}"></td>
                    <td><a th:text="${sighting.timestamp}"
                           th:href="@{/sightings/{sightingId}(sightingId=${sighting.id})}"></a></td>
                    <td th:text="|${sighting.latitude}, ${sighting.longitude}|"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${project.isOwner && !project.isCurrentlyClosed}" class="modal fade" id="closeProjectModal"
         tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to close the project "[[${project.name}]]"?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <form method="post" th:action="@{/projects/{projectId}/close(projectId=${project.id})}">
                        <input type="submit" class="btn btn-danger" value="Close Project">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
