<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="~{template :: head}"></div>
    <title>Change Password</title>
</head>
<body>
    <div th:replace="~{template :: header}"></div>
    <div>
        <form th:object="${passwordForm}" th:action="@{/settings/updatepassword}" method="post" modelAttributes="passwordForm">
            <div><label> Old Password <input type="password" name="oldpassword"/> </label></div>
            <div><label> New Password <input type="password" name="newpassword"/></label></div>
            <div><label> Confirm New Password <input type="password" name="confnewpassword"/></label></div>
            <p th:if="${#fields.hasAnyErrors()}">
                <p th:each="err : ${#fields.allErrors()}" th:text="${err}" />
            </p>
            <div><input type="submit" value="Save Change"/></div>
        </form>
    </div>
</body>