<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="~{template :: head}"></div>
    <title>Animal Tracker - Update Display Name</title>
</head>
<body>
    <div th:replace="~{template :: header}"></div>
    <div>
        <h1>Update Display Name</h1>
        <div>Input your new display name</div>
        <form th:object="${form}" th:action="@{/settings/updatedisplayname}" method="post" modelAttribute="form">
            <div><label> Display Name <input type="text" name="newdisplayname"/> </label></div>
            <div><input type="submit" value="Save Change"/></div>
            <p th:if="${#fields.hasAnyErrors()}">
                <p th:each="err : ${#fields.allErrors()}" th:text="${err}" />
            </p>
        </form>
    </div>
</body>