<!DOCTYPE html>
<html lang="en">
<head>
    <title>Change Password</title>
</head>
<body>
<!--Create a form with: (also don't forget do send error messages and stuff) -->
<!--Old Password-->
<!--New Password-->
<!--Confirm new password-->
<!--Submit-->
<div>
    <form th:action="@{/updatePassword}" method="post">
        <div><label> Old Password <input type="text" name="oldpassword"/> </label></div>
        <div><label> New Password <input type="text" name="newpassword"/></label></div>
        <div><label> Confirm New Password <input type="text" name="confnewpassword"/></label></div>
        <div><input type="submit" value="Save Change"/></div>
    </form>
</div>
</body>