<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="~{template :: head}"></div>
    <title>Change Username</title>
</head>
<body>
<div>
    <div th:replace="~{template :: header}"></div>
    <h1>Update Username</h1>
    <div>Input your new username</div>
    <form th:object="${UpdateUsernameForm}" th:action="@{/settings/updateusername}" method="post" modelAttribute="usernameForm">
        <div><label> Username <input type="text" name="newusername"/> </label></div>
        <div><input type="submit" value="Save Change"/></div>
    </form>
</div>
</body>