<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="~{template :: head}"></div>
    <title>Settings</title>
</head>
<body>
    <div th:replace="~{template :: header}"></div>

    <div class="container">
        <h1>Account Settings</h1>
        <div>
            <div class="mt-3">
                <span>Display Name: </span>
                <span th:remove="tag" th:text="${currentUser.displayName}">Display Name</span>
            </div>
            <a class="btn btn-primary" href="/settings/updatedisplayname"> Update Display Name </a>
        </div>

        <div>
            <div class="mt-3">
                <span>Username: </span>
                <span th:remove="tag" th:text="${currentUser.username}">Username</span>
            </div>
            <a class="btn btn-primary" href="/settings/updateusername"> Update Username </a>
        </div>

        <div>
            <div class="mt-3">Change Password</div>
            <a class="btn btn-primary" href="/settings/updatepassword"> Update Password </a>
        </div>
    </div>
</body>